#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  border: none;
}

/*.Container{
  display: flex;
  margin: auto;
  text-align: center;
  width: auto;
  background-color: rgb(255,0,255);
}*/